/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
} */


header {
    
    background-color: #264653;
    font-family: 'Poppins', sans-serif;
}

.h-f-part {
    padding-top: 215px;
    padding-left: 156px;
}

.first-para {
    font-size: .875rem;
}

.head-one {
    font-size: 3rem;
    font-weight: 300;
}

.second-para {
    margin-top: 18px;
    font-size: 1rem;
}

.manu-btn {
    margin-top: 21px;
    padding: 10px 46px;
    font-size: 1rem;
    font-weight: 500;
    background-color: #E76F51;
    
}


.h-s-part {
    padding-top: 155px;
    padding-bottom: 96px ;
}


.f-bike-main {
    padding-left: 156px;
}
.feature-text {
    margin-top: 4rem;
}

.feature-text h1 {
    margin-bottom: 0;
}

.feature-text p {
    margin-top: 0;
    padding-top: 0;
    color: #E76F51;
    font-size: .875rem;
}

.cont-image {
    padding-top: 7.5rem;
}

.f-image {
    width: 288px;
    height: 243px;

}

.g-scale img {
    filter: grayscale(100%);
}


.card-img-size {
    width: 149px;
    height: 149px;
}


.client-review {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.client-review h1 {
    font-size: 3rem;

}

.t-color {
    color: #E76F51;
}

.fas, .far {
    color: #E77C40;
}




.faq-img {
    margin: 0;
    padding: 0;
    width: 432px;
    height: 424px;
}

.fq-item {
    
    margin-top: 40px;
    margin-bottom: 20px;
}

.bt-f-size {
    font-size: 1rem;
}



@media only screen and (max-width: 480px) {
    
    
    .h-f-part {
        
        margin: 0;
        padding: 15px;
        
}

    .h-f-part p {
        font-size: 16px;
    }

    .h-f-part h1 {
        font-size: 36px;
    }

    button {
        padding: 0;
        margin: 0;
    }

    .h-s-part {
        margin-top: 56px;
        margin-bottom: 34px;
        padding:0;
    }
    .h-image {
        margin: 0;
        padding: 0;
        width: 321px;
        height: 260px;
}


    .f-bike-main {
        margin: 0;
        padding: 0;
    }

    .feature-text {
        margin: 0;
        padding-top: 107px;
    }

    .cont-image {
        margin: 0;
        padding-top: 101px;
    }
    .single-image {
        padding-bottom: 116px;
    }

    .faq-items {
        align-items: center;
    }
    .faq-img {
        margin-top: 23px;
        width: 275px;
        height: 270px;
    }

}